// 断点
$S:     320px;
$M:     768px;
$L:     1170px;

// 媒体查询

@mixin MQ($canvas) {
  @if $canvas == S {
  @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
  @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
  @media only screen and (min-width: $L) { @content; }
  }
}

// 超轻网格-与style.scss中的.cd容器类一起工作
@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

